<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="./home_style.css" rel="stylesheet">
</head>
<body>
    <h1>Heyh! <%=name%></h1>
    <form action="http://localhost:3000/createUser" method="post">
        <input type="text" name="Name"><br>
        <input type="number" name="Amount"><br>
        <input type="submit" value="Submit!">     
    </form>
</body>
</html>